tmp/*
#elpa/archives/
#elpa/ejc-sql-20180827.1408/.nrepl-port
#elpa/ejc-sql-20180827.1408/target/
#elpa/ejc-sql-20180827.1408/ejc-sql/

.edbi-ds-history
ac-comphist.dat
auto-save-list/
projectile-bookmarks.eld
recentf
